/.idea
/.local
/.env
/.env.local
/docker-compose.override.yml
/tmp
/upload
/docker/log
/docker/mariadb
/core/vendor
/frontend/node_modules
/frontend/.nuxt
/frontend/.eslintcache
/frontend/dist
/frontend/src/site/static/sw.js